@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Quicksand:wght@400;700&family=Roboto&display=swap');


:root{
    --primaryTextColor: #344c20;  /* untuk title atau judul */
    --secondaryTextColor:#656d72; /* untuk text biasa seperti paragraf */
    /* contohnya */

    --borderColor:#f1f1f1;
    --lineColor:#d9d9d9;  /* untuk line di per title */

    --primaryBackgroundColor: #ffffff;
    --secondaryBackgroundColor:#fbfbfb;
    --thirdBackgroundColor: #ffffff;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto" , sans-serif ;
}



h1,h2,h3,h4,h5 strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;  /* 16px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor)
}

a {
    text-decoration: none;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 90%;
    }
}

/* logo and navigasi menu */

.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

span{
    color: black;
    justify-content: center;
}



.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color: var(--primaryTextColor);
}

nav ul li{
    color: var(--primaryTextColor);
}

/* nav ul li a:hover{
  color:blueviolet;
} */

.pre-title{
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
}

/* layout */
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.section-title{
    margin: 1rem 0 4rem;
    font-size: 23px;
    text-align: center;
    position: relative;
    left: 25px;
}

/* burger nih boss */
.berger div{
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index:99;
}

.gw{
    color: rgb(42, 128, 80);
}

.mq{
    color: rgb(42, 128, 80);
}

/* hero section */
#hero{
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    align-items: center;
}

.hero-right img{
    position: relative;
    display: flex;
    left: 250px;
    width: 80%;
    
    
}

.nama{
 font-size: 3rem;
 font-weight: 500;
 margin: 0.5rem 0 1rem;
}

.sambutan{
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: -30px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.sambutan ::before{
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
}
 
/* skill nih boss*/

#service{
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.service .pre-title{
    margin: 0 auto;
}

.service-title{
    text-align: center;
}

.service{
    padding: 3rem 2rem;;
    text-align: center;
    background: var(--primaryBackgroundColor);
    /* border-radius: var(--itemBorderRadius); */
}

.service h4{
  margin: 1.5rem;
  font-weight:500 ;
  font-size: 1.05rem;
}

.service-icon{
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius:0.5rem ;
}

.service-icon svg{
    fill: var(--primaryIconColor)
}

/* skill and edukasi */

#skills {
    padding: var(--sectionPadding);
    background: var(--secondaryBackgroundColor);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 2rem;
}

.education-line {
  padding: 0 .7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: var(--borderColor);
}

.education-info p {
    margin: .6rem 0 1.4rem ;
}

.education-years {
    margin-bottom: 3rem;
}

/* dot on the line */
.education-line div::before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--borderColor);
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}

.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}

/* kontakk */

#contact {
 padding: var(--sectionPadding);
}


.contact-from div {
    margin-bottom: 1.4rem;
}

.contact form input,
.contact-form textarea{
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "roboto" ,"sans-serif";
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor) ;
    border-radius: 5px;
    resize: none;
   
}



.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #d6d6d6;
}

#message{
    border-radius: 5px;
}

.contact-left form div {
    margin: 30px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #d6d6d6;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: var(--primaryIconColorHover);
}

.contact-item{
    display: flex;
    gap: 1.5rem;
    margin-bottom:2.5rem ;
}

.contact-item-icon{
    background: var(--thirdBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    align-items: center;
}

.contact-item-icon svg {
    fill: var(--primaryIconColor)
}

.logo-contact-detail {
  margin: bottom 0.6rem; 
}

/* .contact-right{
    margin-bottom: 3rem;
} */

nav ul li a{
    color: var(--secondaryTextColor);
}